@mixin centering() {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

@mixin box-size() {
  width: 136px;
  height: 36px;
}

@mixin select-field() {
  @include centering();
  @include box-size();

  border: 0;
  background-color: transparent;

  &:focus-within {
    padding: 4px 8px;
    border: 0;
    background-color: $color-blue-300;
    border-radius: 4px;
    box-shadow: none;

    @include box-size();
  }
}

@mixin header() {
  top: 48px;
  font-weight: 600;
}
