@import '../../../../commons/components/psa/variables.scss';

.ts-resource__first-screen-header {
  margin-bottom: $container-padding;
  color: $color-text-grey;
  font-size: 16px;
  line-height: 21px;
}

.ts-resource__list-header {
  position: fixed;
  padding: $size-m;
  width: 100%;
  padding-right: 56px;
  background: $color-container;

  @media screen and (max-width: 1280px) {
    width: 1240px;
    padding-right: 20px;
  }
  span[class^='ts-resource__list-header'] {
    display: flex;
    align-items: center;
    color: $color-text-grey;
  }

  &__cost,
  &__revenue {
    display: inline-block;
    width: 80%;
    justify-content: flex-end;
  }

  &__received-date,
  &__assignment-due-date {
    float: right;
  }

  &__sort-icon {
    // hide sort icon as it's not in scope for mvp
    display: none;
    margin-left: $size-base;
    fill: $color-bg-black;
  }
  &__status {
    margin-left: $container-padding;
  }
}
