.admin-pc-planner-setting-external-calender-access__auth-status-field {
  &__status-text {
    margin-right: 16px;
  }

  &__button {
    min-width: 80px;
    height: 28px;
    line-height: 28px;
  }
}
