.admin-pc-annual-paid-leave-management-search-form {
  &__label .ts-horizontal-layout__label {
    padding: 0;
  }

  &__button-container {
    padding: 8px 0 0;
  }

  &__button {
    min-width: 64px;
  }
}
