@import '../../variables';

.ts-psa__schedule-details__strategy-details {
  &__schedule-strategy-form {
    display: flex;
    flex-direction: column;
    padding: $container-padding;
  }
  &__schedule-strategy-form-header {
    width: 100%;
    padding: $container-padding;
    background-color: $color-bg-lighter-blue;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    font-size: $font-size-l;
    font-weight: bold;
    color: $color-font-dark-blue;
    border: 1px solid $color-border-light-grey;
    border-bottom: 0;
  }
  &__schedule-strategy-form-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: $container-padding;
    background-color: $color-bg-white;
    border: 1px solid $color-border-light-grey;
    &__row {
      width: 100%;
    }
    &__field {
      display: inline-flex;
      width: 25%;
      flex-direction: column;
      margin-bottom: 20px;
      padding: 10px;
      &.changed > .value {
        color: $color-font-blue;
      }
      & > .label {
        font-size: 12px;
        line-height: 13px;
        margin-bottom: 4px;
        color: $color-text-grey;
      }

      & > .value {
        font-size: 13px;
        color: $color-text-grey;
        line-height: 17px;
        padding: $size-xs;
        border-radius: 4px;
        background-color: $color-container;
        border: 1px solid $color-border-light-grey;
      }
    }
    &__dropdown {
      display: inline-flex;
      width: 50%;
      flex-direction: column;
      margin-bottom: 20px;
      padding: 10px;

      & > .label {
        font-size: 12px;
        line-height: 13px;
        margin-bottom: 4px;
        color: $color-text-grey;
      }

      & > .value {
        font-size: 13px;
        color: $color-text-grey;
        line-height: 17px;
        padding: $size-xs;
        border-radius: 4px;
        background-color: $color-container;
        border: 1px solid $color-border-light-grey;
      }
    }
  }
  &__schedule-strategy-form-footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: $container-padding;
    background-color: $color-bg-lighter-blue;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid $color-border-light-grey;
    border-top: 0;
  }
}
