.expenses-pc-print-print-report {
  margin: 0 40px;

  & hr {
    width: 100%;
    margin: auto;
    margin-bottom: 8px;
    border-color: #000;
  }

  &__subtitle {
    margin-top: 14px;
    font-size: 12px;
    font-weight: bold;
  }
}
