.timesheet-pc-summary-timesheet-summary-footer {
  display: flex;
  margin: 8px 0 16px;
  page-break-inside: avoid;

  &__col {
    max-width: 340px;
    flex: 1;
    margin: 0 16px;
  }

  &__col--left {
    margin-left: 0;
  }

  &__col--right {
    margin-right: 0;
  }
}
