.admin-pc-skillset-link-config {
  &__editAction {
    width: 129px;
    float: right;
    font-weight: bold;
  }

  .react-grid-Cell.row-selected.editing {
    display: flex;
    align-items: center;
  }

  &__text {
    display: inline-block;
    margin-top: 5px;
  }
}
