.admin-pc-job-job-assignment-dialogs-job-assignment-dialog {
  &__body {
    padding: 0.5rem;
  }

  &__control {
    margin: 0.5rem 0 0;
  }

  &__button {
    min-width: 90px;
    min-height: calc(1.875rem + (1px * 2));
  }

  &__list-box {
    overflow: auto;
    max-height: 7rem;
    padding: 0.5rem;
    margin: 1rem 0 0.5rem;
    border: 1px solid $color-border-default;
    background: #f9f9f9;
    border-radius: 4px;
  }
}
