.mobile-app-pages-expense-page-record-list {
  &__record-list-container {
    padding-bottom: 16px;
  }

  article {
    padding-top: 0;
  }

  .main-content {
    padding: 48px 0;
  }

  &__empty-icon {
    margin: 32px 0;
  }

  &__actions {
    position: fixed;
    bottom: 60px;
    width: 150px;
    display: block;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
}
