@import '../../../../../styles/exp/variables/colors';

.ts-expenses__form-record-item-jct-number {
  width: 100%;
  margin-bottom: 10px;

  input {
    border-radius: 0.25rem;
  }

  &__btn-confirm {
    height: 100%;
    width: 100%;
    border-radius: 0 5px 5px 0;
  }

  &__msg-area {
    margin-top: 5px;
    color: $color-bg-primary;
    font-size: 12px;
  }
}
