.timesheet-pc-leave-detail-list {
  $this: &;

  margin: 0 0 15px;

  @import 'shared-table';

  &__table {
    border-collapse: collapse;
  }

  &__table > caption {
    font-size: $font-size-x-large;
    line-height: 32px;
  }

  &__table > thead > tr > th,
  &__table > tbody > tr > td {
    padding: 2px 8px;

    @media print {
      padding: 1px 4px;
    }
  }

  &__table > thead > tr > th {
    border: 1px solid $color-border-default;
  }

  &__table > thead > tr > th {
    background: $color-bg-heading;
    color: $color-text-modest;
    font-weight: normal;
    text-align: center;
  }

  &__table > tbody {
    border: 1px solid $color-border-default;
  }

  &__table > tbody > tr {
    background: $color-bg-tbody-row-stripe-odd;
  }

  &__table > tbody > tr:nth-child(even) {
    background: $color-bg-tbody-row-stripe-even;
  }

  &__table > tbody > tr > td {
    border-right: 1px dashed $color-border-default;
    border-left: 1px dashed $color-border-default;

    @media print {
      border: 1px solid $color-border-default;
    }
  }

  td#{$this}__date {
    text-align: center;
  }

  td#{$this}__leave-duration {
    text-align: right;
  }

  td#{$this}__leave-type,
  td#{$this}__remarks {
    text-align: left;
  }

  &__date {
    width: 240px;
  }

  &__leave-type {
    width: 200px;
  }

  &__leave-duration {
    width: 120px;
  }
}
