.approvals-pc-objective-detail-list-pane-detail-table {
  position: relative;

  &__table {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 20px;
    min-width: 600px;
  }

  &__scrollable {
    position: relative;
    z-index: 1;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
  }
}

.approvals-pc-objective-detail-list-pane-detail-table-header {
  display: flex;
  height: 35px;

  &__cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $color-border-default;
    background-color: $color-bg-heading;
    color: $color-text-modest;
    font-size: $font-size-small;
    border-right: 1px solid $color-border-default;
  }

  &__cell:last-child{
    border-right: none;
  }
}

.approvals-pc-objective-detail-list-pane-detail-table-column {
  &--date {
    flex: 0 0 90px;
  }

  &--timeOut,
  &--attendance{
    flex: 1 1 90px;
    min-width: 90px;
  }

  &--leavingLog,
  &--enterLog {
    flex: 1 1 200px;
    text-align: left;
    min-width: 100px;
  }

  &--enteringReason,
  &--leavingReason {
    flex: 0 0 200px;
    text-align: left;
    min-width: 100px;
  }

  &--item-content {
    flex: 0 0 570px;
  }
}
