<div>
	<ul class="tsext-pankz">
<!--
		<li><a href="#!menu">メニュー</a></li>
		<li class="tsext-pankz-div">＞</li>
//-->
		<li>出向者休暇取込</li>
	</ul>
	<div class="tsext-form">
		<div class="tsext-section">
			<div class="tsext-form-upload">
				<input type="file" accept="*" id="absorberUpload" />
			</div>
		</div>
		<div class="tsext-data-message" style="margin-top:10px;">
			<div>
			</div>
		</div>
		<div class="tsext-show-data" style="display:none;margin-top:10px;">
			<div>データ登録プレビュー(先頭3件)</div>
			<table>
				<thead>
				</thead>
				<tbody>
				</tbody>
			</table>
			<div>
				<table>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
		<div class="tsext-button-horiz" style="display:table;">
			<div>
				<input type="button" class="tsext-c-check" value="事前チェック" />
			</div>
		</div>
		<div class="tsext-button-horiz" style="display:table;margin-top:20px;">
			<div>
				<input type="button" class="tsext-c-import" value="取り込み開始" />
			</div>
		</div>
		<div class="tsext-error" style="display:none;margin-top:20px;margin-left:0px;">
		</div>
		<div class="tsext-check-area" style="margin-top:20px;min-height:100px;">
			<table>
				<thead>
					<tr>
						<th>種別</th><th>結果</th><th>エラー詳細</th><th>ログ</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>事前チェック結果</td><td id="absorberPrechkResult"></td><td id="absorberPrechkCsv"></td><td id="absorberPrechkLog"></td>
					</tr>
					<tr>
						<td>取り込み結果    </td><td id="absorberImportResult"></td><td id="absorberImportCsv"></td><td id="absorberImportLog"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="tsext-form-download" style="display:none;margin-top:20px;">
		</div>
	</div>
</div>
