<div>
	<ul class="tsext-pankz">
		<li><a href="#!menu">メニュー</a></li>
		<li class="tsext-pankz-div">＞</li>
		<li>勤怠の起算日変更</li>
	</ul>
	<div class="tsext-error-top" style="display:none;">
	</div>
	<div class="tsext-form">
		<div class="tsext-know">
		</div>
		<table>
			<tr>
				<td>
					<div class="tsext-section tsext-settings">
						<div class="tsext-description" style="position:relative;margin-bottom:4px;">
							<div>1.</div>
							<div>変更対象の勤務体系を選択してください</div>
							<div style="position:absolute;right:0px;">
								<label>
									<input type="checkbox" id="tsextInvalidEmpType" /> <span>無効化分も含めて表示</span>
								</label>
							</div>
						</div>
						<div class="tsext-emptype-table">
						</div>
						<div class="tsext-emptype-note">
						</div>
					</div>
					<div class="tsext-section tsext-settings">
						<div class="tsext-description">
							<div>2.</div>
							<div>切替日と変更先を設定してください</div>
						</div>
						<div class="tsext-changesd-settings">
							<div class="tsext-changesd-xday">
								<div class="tsext-changesd-label">切替日</div>
								<div class="tsext-changesd-value"><input type="text" id="tsextChangeSdDate" /></div>
							</div>
							<div class="tsext-changesd-radio">
								<label><input type="radio" name="changeType" class="tsext-changesd-type1" /> <span>下記を起算日とする対象勤務体系のコピーを作成して変更先とする</span></label>
							</div>
							<div class="tsext-changesd-box">
								<div>
									<table>
									<tr>
										<td>起算月</td>
										<td>
											<select class="tsext-changesd-month">
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
												<option value="6">6</option>
												<option value="7">7</option>
												<option value="8">8</option>
												<option value="9">9</option>
												<option value="10">10</option>
												<option value="11">11</option>
												<option value="12">12</option>
											</select>
										</td>
										<td>年度の表記</td>
										<td>
											<label><input type="radio" name="displayYear" /> <span>起算月に合わせる</span></label>
											<label><input type="radio" name="displayYear" /> <span>締め月に合わせる</span></label>
										</td>
									</tr>
									<tr>
										<td>起算日</td>
										<td>
											<select class="tsext-changesd-date">
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
												<option value="6">6</option>
												<option value="7">7</option>
												<option value="8">8</option>
												<option value="9">9</option>
												<option value="10">10</option>
												<option value="11">11</option>
												<option value="12">12</option>
												<option value="13">13</option>
												<option value="14">14</option>
												<option value="15">15</option>
												<option value="16">16</option>
												<option value="17">17</option>
												<option value="18">18</option>
												<option value="19">19</option>
												<option value="20">20</option>
												<option value="21">21</option>
												<option value="22">22</option>
												<option value="23">23</option>
												<option value="24">24</option>
												<option value="25">25</option>
												<option value="26">26</option>
												<option value="27">27</option>
												<option value="28">28</option>
											</select>
										</td>
										<td>月度の表記</td>
										<td>
											<label><input type="radio" name="displayMonth" /> <span>起算日に合わせる</span></label>
											<label><input type="radio" name="displayMonth" /> <span>締め日に合わせる</span></label>
										</td>
									</tr>
									<tr>
										<td>週の起算日</td>
										<td>
											<select class="tsext-changesd-week">
												<option value="0">日</option>
												<option value="1">月</option>
												<option value="2">火</option>
												<option value="3">水</option>
												<option value="4">木</option>
												<option value="5">金</option>
												<option value="6">土</option>
											</select>
										</td>
										<td></td>
										<td></td>
									</tr>
									</table>
									<div style="margin-left:25px;margin-bottom:4px;">
										<label><input type="checkbox" class="tsext-changesd-invalidate" /> <span>旧勤務体系を無効化する</span></label>
									</div>
								</div>
							</div>
							<div class="tsext-changesd-radio">
								<label><input type="radio" name="changeType" class="tsext-changesd-type2" /> <span>下記の勤務体系を変更先とする</span></label>
							</div>
							<div class="tsext-changesd-box">
								<select class="tsext-changesd-dest-empTypes"></select>
							</div>
						</div>
					</div>
					<div class="tsext-section">
						<div class="tsext-description">
							<div>3.</div>
							<div>
								<input type="button" value="変更内容を確認する" id="tsextChangeInitDateAttConfirm" />
							</div>
						</div>
					</div>
					<div class="tsext-section">
						<div class="tsext-description">
							<div>4.</div>
							<div>
								<input type="button" value="起算日変更実行" id="tsextChangeInitDateAtt" />
								&nbsp;&nbsp;&nbsp;
								<input type="button" value="キャンセル" id="tsextChangeInitDateAttCancel" class="cancel" />
							</div>
						</div>
					</div>
					<div class="tsext-busy-caution" style="display:none;">
						<div>
							<div>
								起算日変更実行中です。<br/>
								実行が完了するまではページを閉じないでください。
							</div>
						</div>
					</div>
					<div class="tsext-finish-ok" style="display:none;">
						<div>
							<div>
								起算日変更完了しました。
							</div>
							<div class="tsext-finish-button">
								×
							</div>
						</div>
					</div>
					<div class="tsext-finish-error" style="display:none;">
						<div>
							<div style="max-width:800px;">
							</div>
							<div class="tsext-finish-button">
								×
							</div>
						</div>
					</div>
				</td>
			</tr>
		</table>
		<div class="tsext-section tsext-changesd-log">
			<div>
				ログ    <a>(download)</a>
			</div>
			<textarea wrap="off" readOnly="readOnly"></textarea>
		</div>
		<div class="tsext-form-download" style="display:none;">
			<a></a>
		</div>
	</div>
	<div class="tsext-error-top" style="display:none;">
	</div>
	<div class="tsext-bottom"></div>
</div>
