<div>
	<div class="tsext-jtb-actual">
		<div>
			<table>
			<tbody>
				<tr class="tsext-jtb-hcchukinoucd">
					<td>発注機能コード<font color="red"> *</font></td>
					<td class="tsext-jtb-type">
						<input type="text" value="" style="width:36px;" maxLength="2" />
						<select>
							<option value="1">交通機関</option>
							<option value="2">宿泊</option>
							<option value="3">レンタカー</option>
							<option value="4">その他</option>
						</select>
					</td>
				</tr>
				<tr class="tsext-jtb-spymd" ><td>出発日</td><td><input type="text" class="tsext-jtb-date"   value="" style="width:92px;"  maxLength="10" /></td></tr>
				<tr class="tsext-jtb-tcymd" ><td>到着日</td><td><input type="text" class="tsext-jtb-date"   value="" style="width:92px;"  maxLength="10" /></td></tr>
				<tr class="tsext-jtb-kg"    ><td>金額<font color="blue"> *</font>  </td><td><input type="text" value="" style="width:120px;" maxLength="16" /></td></tr>
				<tr class="tsext-jtb-data01"><td title="サービス名称をセット"              >個別設定01</td><td><input type="text" value="" style="width:120px;" maxLength="100" /></td></tr>
				<tr class="tsext-jtb-data02"><td title="交通機関名、宿泊施設名などをセット">個別設定02</td><td><input type="text" value="" style="width:120px;" maxLength="100" /></td></tr>
				<tr class="tsext-jtb-data03"><td title="出発地などをセット"                >個別設定03</td><td><input type="text" value="" style="width:120px;" maxLength="100" /></td></tr>
				<tr class="tsext-jtb-data04"><td title="到着地などをセット"                >個別設定04</td><td><input type="text" value="" style="width:120px;" maxLength="100" /></td></tr>
				<tr class="tsext-jtb-data05"><td title="運賃種別名などをセット"            >個別設定05</td><td><input type="text" value="" style="width:120px;" maxLength="100" /></td></tr>
				<tr class="tsext-jtb-data06"><td title="便名、列車名などをセット"          >個別設定06</td><td><input type="text" value="" style="width:120px;" maxLength="100" /></td></tr>
				<tr class="tsext-jtb-data07"><td title="クラス情報などをセット"            >個別設定07</td><td><input type="text" value="" style="width:120px;" maxLength="100" /></td></tr>
				<tr class="tsext-jtb-data08"><td title="出発時刻などをセット"              >個別設定08</td><td><input type="text" class="tsext-jtb-time" value="" style="width:42px;" maxLength="5" /></td></tr>
				<tr class="tsext-jtb-data09"><td title="到着時刻などをセット"              >個別設定09</td><td><input type="text" class="tsext-jtb-time" value="" style="width:42px;" maxLength="5" /></td></tr>
				<tr class="tsext-jtb-data10"><td title="券番などをセット"                  >個別設定10</td><td><input type="text" value="" style="width:120px;" maxLength="100" /></td></tr>
				<tr class="tsext-jtb-data11"><td title="ステータスをセット"                >個別設定11</td><td><input type="text" value="" style="width:120px;" maxLength="100" /></td></tr>
				<tr class="tsext-jtb-data12"><td title="消費税適用基準日をセット"          >個別設定12</td><td><input type="text" value="" style="width:120px;" maxLength="100" /></td></tr>
				<tr class="tsext-jtb-data13"><td title="申請者IDをセット"                  >個別設定13</td><td><input type="text" value="" style="width:120px;" maxLength="100" /></td></tr>
				<tr class="tsext-jtb-data14"><td title="出張者社員名をセット"              >個別設定14</td><td><input type="text" value="" style="width:120px;" maxLength="100" /></td></tr>
				<tr class="tsext-jtb-data15"><td title=""                                  >個別設定15</td><td><input type="text" value="" style="width:120px;" maxLength="100" /></td></tr>
			</tbody>
			</table>
		</div>
		<div>
			<table>
			<tbody>
				<tr class="tsext-jtb-kgyoucd"           ><td>企業コード<font color="red"> *</font> </td><td><input type="text" value="" style="width:100px;" maxLength="10" /></td></tr>
				<tr class="tsext-jtb-operationnumber"   ><td>処理番号   </td><td><input type="text" value="" style="width:120px;" maxLength="12" /></td></tr>
				<tr class="tsext-jtb-ryokouno"          ><td>旅行番号<font color="blue"> *</font>   </td><td><input type="text" value="" style="width:120px;" maxLength="12" /></td></tr>
				<tr class="tsext-jtb-subnumber"         ><td>副番号     </td><td><input type="text" value="" style="width:36px;"  maxLength="2"  /></td></tr>
				<tr class="tsext-jtb-seqno"             ><td>SEQNO<font color="red"> *</font>      </td><td><input type="text" value="" style="width:120px;" maxLength="12" /></td></tr>
				<tr class="tsext-jtb-bno"               ><td>枝番<font color="red"> *</font>       </td><td><input type="text" value="" style="width:54px;"  maxLength="3"  /></td></tr>
				<tr class="tsext-jtb-userid"            ><td>ユーザID<font color="blue"> *</font>   </td><td><input type="text" value="" style="width:100px;" maxLength="10" /></td></tr>

				<tr class="tsext-jtb-seikyuhsseiymd"    ><td title="「YYYY/MM/DD」形式"                >請求発生日<font color="blue"> *</font>          </td><td><input type="text" value="" style="width:92px;"  maxLength="10" class="tsext-jtb-date" /></td></tr>
				<tr class="tsext-jtb-setshoukbn"        ><td title="0:実費、1:定額支給、2:会社支給"    >精算対象区分<font color="blue"> *</font>        </td><td><input type="text" value="" style="width:20px;"  maxLength="1"  /></td></tr>
				<tr class="tsext-jtb-rnkeitwsekbn"      ><td title=""                                  >連携問い合わせ区分<font color="blue"> *</font>  </td><td><input type="text" value="" style="width:20px;"  maxLength="1"  /></td></tr>
				<tr class="tsext-jtb-rnkeitwseymdtime"  ><td title="「YYYY/MM/DD H:MI:SS」形式"        >連携問い合わせ日時  </td><td><input type="text" value="" style="width:150px;" maxLength="20" /></td></tr>
				<tr class="tsext-jtb-wsrnkeitwsekbn"    ><td title=""                                  >WS連携問い合わせ区分<font color="blue"> *</font></td><td><input type="text" value="" style="width:20px;"  maxLength="1"  /></td></tr>
				<tr class="tsext-jtb-wsrnkeitwseymdtime"><td title="「YYYY/MM/DD H:MI:SS」形式"        >WS連携問い合わせ日時</td><td><input type="text" value="" style="width:150px;" maxLength="20" /></td></tr>
				<tr class="tsext-jtb-systemkbn"         ><td title="J：国内、F：海外、Z：その他"       >システム区分        </td><td><input type="text" value="" style="width:20px;"  maxLength="1"  /></td></tr>
				<tr class="tsext-jtb-wfknrenflg"        ><td title="1:予約時にWF側申請書と関連している 0:関連していない">WF申請書関連フラグ<font color="blue"> *</font></td><td><input type="text" value="" style="width:20px;"  maxLength="1"  /></td></tr>
				<tr class="tsext-jtb-payny"             ><td title="支払内容をセット"                  >支払内容            </td><td><input type="text" value="" style="width:200px;" maxLength="400"/></td></tr>
				<tr class="tsext-jtb-skseiymdtime"      ><td title="「YYYY/MM/DD H:MI:SS」形式"        >作成日時<font color="blue"> *</font>            </td><td><input type="text" value="" style="width:150px;" maxLength="20" /></td></tr>
				<tr class="tsext-jtb-kshnymdtime"       ><td title="「YYYY/MM/DD H:MI:SS」形式"        >更新日時            </td><td><input type="text" value="" style="width:150px;" maxLength="20" /></td></tr>
				<tr class="tsext-jtb-cccd"              ><td title="予約操作時のユーザーマスタのコストセンターコード"   >所属個所コード    </td><td><input type="text" value="" style="width:120px;" maxLength="10" /></td></tr>
			</tbody>
			</table>
		</div>
	</div>
	<div class="tsext-error" style="display:none;">
	</div>
	<p>
		<font color="red">* 新/旧インタフェース共通で必須</font><br>
		<font color="blue">* 新インタフェースの場合に必須</font>
	</p>
	<div class="tsext-form-bottom">
		<div class="tsext-button-horiz2" style="margin:4px auto;">
			<div><input type="button" class="tsext-ok" value="OK" /></div>
			<div><input type="button" class="buttonw tsext-cancel" value="キャンセル" /></div>
		</div>
	</div>
</div>
