<div class="tsext-compo" style="display:none;">
	<ul class="tsext-pankz" style="padding:0px;margin:0px;">
		<li><a href="#!menu">メニュー</a></li>
		<li class="tsext-pankz-div">＞</li>
		<li class="tsext-jtb-heading"></li>
	</ul>
	<div id="tsext-jtb-message"></div>
	<div class="tsext-button-horiz2" style="margin:8px 4px;">
		<div style="margin-right:20px;"></div>
		<div><input type="button" class="button tsext-jtb-save"    value="保存" /></div>
		<div><input type="button" class="button tsext-jtb-actual"  value="予約 ⇒ 実績生成" /></div>
		<div><input type="button" class="button tsext-jtb-invoice" value="実績 ⇒ 請求生成" /></div>
	</div>
	<div class="tsext-error" style="display:none;margin:2px 8px;">
	</div>
	<div class="tsext-jtb-basic-area">
		<div class="tsext-jtb-jsNaviId"><span>UserID: </span><span></span></div>
	</div>
	<div class="tsext-jtb-basic-area">
		<div class="tsext-jtb-operationNo"><span>処理番号: </span><span></span></div>
		<div class="tsext-jtb-travelNo"   ><span>旅行番号: </span><input type="text" maxLength="12" style="width:120px;" /></div>
		<div><label><input type="checkbox" class="tsext-jtb-unlock" /> <span>Free</span></label></div>
	</div>
	<div style="margin:0px 0px 0px 8px;">＜予約＞<span id="tsext-jtb-reserve-count"></span></div>
	<div class="tsext-jtb-reserve-area"></div>
	<div style="margin:8px 0px 0px 8px;">＜実績＞<span id="tsext-jtb-actual-count"></span></div>
	<div class="tsext-jtb-actual-area"></div>
	<div style="margin:8px 0px 0px 8px;">＜請求＞<span id="tsext-jtb-invoice-count"></span></div>
	<div class="tsext-jtb-invoice-area"></div>
	<div class="tsext-jtb-attention"></div>
</div>
