<div>
	<div class="tsext-jtb-actual">
		<div>
			<table>
			<tbody>
				<tr class="tsext-jtb-functionId">
					<td>予約機能ID<font color="red"> *</font></td>
					<td class="tsext-jtb-type">
						<input type="text" value="" style="width:36px;" maxLength="2" />
						<select>
							<option value="1">交通機関</option>
							<option value="2">宿泊</option>
							<option value="3">レンタカー</option>
							<option value="4">その他</option>
						</select>
					</td>
				</tr>
				<tr class="tsext-jtb-startDate"       ><td>出発日           </td><td><input type="text" class="tsext-jtb-date"   value="" style="width:92px;"  maxLength="10" /></td></tr>
				<tr class="tsext-jtb-endDate"         ><td>帰着日           </td><td><input type="text" class="tsext-jtb-date"   value="" style="width:92px;"  maxLength="10" /></td></tr>
				<tr class="tsext-jtb-useDate"         ><td>搭乗日/利用日    </td><td><input type="text" class="tsext-jtb-date"   value="" style="width:92px;"  maxLength="10" /></td></tr>
				<tr class="tsext-jtb-invoiceAmount"   ><td>請求予定金額     </td><td><input type="text" value="" style="width:120px;" maxLength="16" /></td></tr>
				<tr class="tsext-jtb-startPlace"      ><td>出発地           </td><td><input type="text" value="" style="width:120px;" maxLength="100" /></td></tr>
				<tr class="tsext-jtb-endPlace"        ><td>到着地           </td><td><input type="text" value="" style="width:120px;" maxLength="100" /></td></tr>
				<tr class="tsext-jtb-flightName"      ><td>便名列車名       </td><td><input type="text" value="" style="width:120px;" maxLength="100" /></td></tr>
				<tr class="tsext-jtb-planName"        ><td>運賃種別_プラン名</td><td><input type="text" value="" style="width:120px;" maxLength="100" /></td></tr>
				<tr class="tsext-jtb-status"          ><td>ステータス       </td><td><input type="text" value="" style="width:120px;" maxLength="100" /></td></tr>
				<tr class="tsext-jtb-ticketNo"        ><td>券番             </td><td><input type="text" value="" style="width:120px;" maxLength="100" /></td></tr>
				<tr class="tsext-jtb-useName"         ><td>利用先名称       </td><td><input type="text" value="" style="width:120px;" maxLength="100" /></td></tr>
				<tr class="tsext-jtb-stayCount"       ><td>泊数             </td><td><input type="text" value="" style="width:120px;" maxLength="100" /></td></tr>
				<tr class="tsext-jtb-roomCount"       ><td>部屋数           </td><td><input type="text" value="" style="width:120px;" maxLength="100" /></td></tr>
				<tr class="tsext-jtb-note"            ><td>行先及び備考     </td><td><input type="text" value="" style="width:120px;" maxLength="100" /></td></tr>
				<tr class="tsext-jtb-reserve04"       ><td>予備項目4        </td><td><input type="text" value="" style="width:120px;" maxLength="100" /></td></tr>
			</tbody>
			</table>
		</div>
		<div>
			<table>
			<tbody>
				<tr class="tsext-jtb-operationNo"     ><td>処理番号         </td><td><input type="text" value="" style="width:120px;" maxLength="12"  /></td></tr>
				<tr class="tsext-jtb-travelNo"        ><td>旅行番号<font color="blue"> *</font>         </td><td><input type="text" value="" style="width:120px;" maxLength="12"  /></td></tr>
				<tr class="tsext-jtb-subNo"           ><td>副番号           </td><td><input type="text" value="" style="width:36px;"  maxLength="2"   /></td></tr>
				<tr class="tsext-jtb-locationCode"    ><td>企業コード<font color="red"> *</font>       </td><td><input type="text" value="" style="width:120px;" maxLength="100" /></td></tr>
				<tr class="tsext-jtb-locationName"    ><td>企業名<font color="red"> *</font>           </td><td><input type="text" value="" style="width:120px;" maxLength="100" /></td></tr>
				<tr class="tsext-jtb-yearMonth"       ><td>請求対象月<font color="red"> *</font>       </td><td><input type="text" value="" style="width:120px;" maxLength="100" /></td></tr>
				<tr class="tsext-jtb-deptCode"        ><td>部署コード       </td><td><input type="text" value="" style="width:120px;" maxLength="100" /></td></tr>
				<tr class="tsext-jtb-deptName"        ><td>部署名           </td><td><input type="text" value="" style="width:120px;" maxLength="100" /></td></tr>
				<tr class="tsext-jtb-currentDeptCode" ><td>現在部署コード   </td><td><input type="text" value="" style="width:120px;" maxLength="100" /></td></tr>
				<tr class="tsext-jtb-currentDeptName" ><td>現在部署名       </td><td><input type="text" value="" style="width:120px;" maxLength="100" /></td></tr>
				<tr class="tsext-jtb-userId"          ><td>出張者ユーザーID </td><td><input type="text" value="" style="width:120px;" maxLength="100" /></td></tr>
				<tr class="tsext-jtb-applyUserId"     ><td>申請者ユーザーID </td><td><input type="text" value="" style="width:120px;" maxLength="100" /></td></tr>
				<tr class="tsext-jtb-userName"        ><td>出張者社員名称   </td><td><input type="text" value="" style="width:120px;" maxLength="100" /></td></tr>
				<tr class="tsext-jtb-jrexUseAmount"   ><td>JREX利用金額     </td><td><input type="text" value="" style="width:120px;" maxLength="100" /></td></tr>
				<tr class="tsext-jtb-jrexBackAmount"  ><td>JREX還元額       </td><td><input type="text" value="" style="width:120px;" maxLength="100" /></td></tr>
				<tr class="tsext-jtb-applyDateTime"   ><td>申込操作時間     </td><td><input type="text" value="" style="width:120px;" maxLength="100" /></td></tr>
			</tbody>
			</table>
		</div>
	</div>
	<div class="tsext-error" style="display:none;">
	</div>
	<p>
		<font color="red">* 新/旧インタフェース共通で必須</font><br>
		<font color="blue">* 新インタフェースの場合に必須</font>
	</p>
	<div class="tsext-form-bottom">
		<div class="tsext-button-horiz2" style="margin:4px auto;">
			<div><input type="button" class="tsext-ok" value="OK" /></div>
			<div><input type="button" class="buttonw tsext-cancel" value="キャンセル" /></div>
		</div>
	</div>
</div>
