<div class="tsext-jtb-info">
	<div class="tsext-error" style="display:none;">
	</div>
	<div class="tsext-jtb-table-area">
		<table class="tsext-jtb-head" style="width:100%;">
			<thead>
				<tr>
					<th style="width:24px;" ><input type="checkbox" /></th>
					<th style="width:50px;" ></th>
					<th style="width:auto;">予約内容</th>
				</tr>
			</thead>
		</table>
		<div class="tsext-jtb-table-box">
			<table style="width:100%;">
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
	<div class="tsext-button-horiz2">
		<div><input type="button" class="buttonx tsext-jtb-insert" value="追加" /></div>
		<div><input type="button" class="buttonx tsext-jtb-delete" value="削除" /></div>
		<div><input type="button" class="buttonx tsext-jtb-copy"   value="コピー" /></div>
	</div>
</div>
