<div class="tsext-menu">
	<div>
	</div>
	<div class="changeInitDate" style="display:none;">
	</div>
	<ul class="changeInitDate" style="display:none;">
		<li><a href="#!changeInitDateAtt">勤怠の起算日変更</a></li>
		<li><a href="#!changeInitDateJob"  >工数の起算日変更</a></li>
	</ul>
	<div class="settings" style="display:none;margin-top:20px;">
	</div>
	<ul class="settings" style="display:none;">
		<li><a href="#!settingExport">勤怠設定データエクスポート</a></li>
		<li><a href="#!settingImport">勤怠設定データインポート</a></li>
	</ul>
	<ul class="settings" style="display:none;">
		<li><a href="#!configDownload">勤怠設定情報ダウンロード</a></li>
	</ul>
	<ul class="settings" style="display:none;">
		<li><a href="#!customFields">定義情報ダウンロード</a></li>
	</ul>
	<div class="sampler" style="display:none;margin-top:20px;">
	</div>
	<ul class="sampler" style="display:none;">
		<li><a href="#!export">検証データエクスポート</a></li>
		<li><a href="#!import">検証データインポート</a></li>
		<li><a href="#!delete">検証データ削除</a></li>
	</ul>
	<div class="absorber" style="display:none;margin-top:20px;">
	</div>
	<ul class="absorber" style="display:none;">
		<li><a href="#!absorber">出向者休暇取込</a></li>
	</ul>
	<ul class="leave" style="display:none;">
		<li><a href="#!leave">日数休暇管理・休暇計算確認</a></li>
	</ul>
	<ul class="testAssist" style="display:none;">
		<li><a href="#!testAssist">テスト支援</a></li>
	</ul>
</div>