@import '@apps/commons/components/psa/variables.scss';

.ts-psa__finance-detail-other {
  height: 100vh;
  overflow: auto;
  background: #fff;
  &.scrollDisable {
    overflow-y: hidden;
  }
  &__finance-overview {
    width: 98%;
    min-height: fit-content;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 18px 15px 0 18px;
    display: inline-flex;
  }
  &__add-detail-row-btn,
  &__add-detail-row {
    padding: 8px 16px;
    color: #2782ed;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    width: 100%;
    height: 32px;
    border-bottom: 1px solid #ddd;
    display: flex;
    background: #fff;
  }
  &__add-detail-row-btn {
    &:hover {
      cursor: pointer;
    }
  }
  &__left {
    width: 14%;
    min-width: 240px;
    height: 100%;
    &-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__right {
    width: 7%;
    min-width: 120px;
    height: 100%;
  }
  &__left-content {
    display: flex;
    flex-direction: column;
  }
  &__right-content {
    border-left: 1px solid #ddd;
  }
  &__detail-row {
    display: flex;
  }

  &__select-view-mode {
    display: flex;
    margin-left: 5px;
    button {
      border-color: #dddbda;
      background-color: $color-bg-lighter;
      color: #0070d2;
      line-height: 1;
      text-decoration: none;
      min-height: 33px;
      min-width: 32px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 0;
      border-right-width: 0;

      &:disabled path {
        fill: $color-border-light-grey-2;
      }

      &:hover {
        background-color: $color-bg-hover;
      }

      &.is-active {
        background-color: $color-action-btn-primary-default;
        color: $color-bg-white;
        &:hover {
          background-color: $color-action-btn-primary-default;
          color: $color-bg-white;
        }
      }

      &:first-child {
        border-radius: 5px 0 0 5px;
        border-right-width: 0;
      }

      &:last-child {
        border-radius: 0 5px 5px 0;
        border-left-width: 1px;
        border-right-width: 1px;
      }
    }
  }

  &__header-info {
    background: $color-bg-white;
    border-bottom: 1px solid $color-border-lightest-grey;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding: 0 $container-padding $size-xs $container-padding;
    position: sticky;
    top: 76px;

    &.js-is-expanded {
      svg {
        transform: rotate(180deg);
        border-radius: 4px 4px 0 0;
      }

      > div[class*='column'] {
        height: auto;
        visibility: visible;
        opacity: 1;
      }

      > button[class*='buttons'] {
        margin-bottom: 12px;
      }
    }

    &__column {
      display: flex;
      flex-direction: column;
      width: 50%;
      visibility: hidden;
      opacity: 0;
      height: 0;
      transition: visibility 0s, opacity 0.5s ease-in;
    }

    &--buttons {
      background: none;
      border: none;
      padding: 0;
      outline: none;
      width: 100%;
      text-align: left;
      display: flex;

      > span {
        color: $color-text-blue;
      }
    }

    &__toggle-icon-bg {
      background-color: $color-text-blue;
      width: 24px;
      display: inline-flex;
      height: 20px;
      border-radius: 0 0 4px 4px;
      margin-right: $size-xs;
      justify-content: center;
    }

    &__toggle-icon {
      width: 13.5px;
      transition: transform 0.3s linear;

      path {
        fill: #fff;
      }
    }

    &-label {
      color: $color-text-label-dark-blue;
      font-weight: bold;
      padding-right: 5px;
    }

    &-item {
      padding-right: 20px;
    }

    &-skills,
    &-remarks {
      display: flex;
    }
  }
  &__revenue-overview {
    margin: 18px 20px 0;
    gap: 16px;
    display: flex;
    &__column {
      display: flex;
      flex: 1;
      gap: 36px;
      padding: 32px;
      border: 1px solid #dddbda;
      border-radius: 4px;
    }
  }
  &__revenue-amt {
    display: flex;
    flex-direction: column;
    &-label {
      color: #7d7d7d;
      font-size: 14px;
    }
    &-amount {
      font-size: 26px;
      font-weight: bold;
    }
  }
  &__exclamation-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    > svg {
      width: 50px !important;
      height: 50px !important;
      path {
        transform: scale(0.7);
      }
    }
  }
  &__correct-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    > svg {
      width: 50px !important;
      height: 50px !important;
      path {
        transform: scale(0.7);
        fill: #5fb561;
      }
    }
  }
  &__main-grid {
    width: 79%;
    height: 100%;
    overflow-x: auto;
    display: grid;
    background: #ddd;
    &.scrollDisable {
      overflow-x: hidden;
    }
  }
  &__main-grid-content-row {
    display: flex;
  }
  &__main-grid-header-container {
    display: inline-flex;
    height: auto;
  }

  &__main-grid-header-cells {
    height: 75px;
    width: 120px;
  }
  &__refresh-btn {
    margin-left: 10px;
    margin-right: 5px;
  }
  &__btn--delete,
  &__btn--add-row,
  &__btn--save,
  &__btn--cancel,
  &__btn--edit {
    min-height: 28px;
    border-radius: 4px;
    padding: 8px 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
  &__btn--delete {
    color: #c23934;
  }

  &__detail-name {
    display: flex;
    align-items: center;
  }

  &__download-icon path {
    fill: $color-btn-primary;
  }
  &__category-name {
    display: flex;
  }
}
