@import '../../../../../../styles/wsp';

.ts-expenses-requests__contents__amount {
  &__foreign-currency-input {
    &.slds-input {
      line-height: 1em;
    }
  }

  &__foreign-currency-input[disabled] {
    line-height: 1em;
    pointer-events: none;
  }

  /** Foreign Currency */
  select {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('../../../../../../images/iconArrowDown.png') no-repeat
      color('background-1');
    background-position: right 10px center;

    &.slds-input {
      color: color('text-1');
    }
  }

  &__amount {
    margin-right: 10px;
    .title {
      display: flex;
      justify-content: space-between;
      .ts-button {
        margin-bottom: 4px;
        min-height: auto;
      }
    }
    .key {
      margin-bottom: 4px;
    }
  }

  &__exchange-rate {
    display: flex;
    margin-left: 10px;

    &-area {
      min-width: 90%;
      flex: 1;
    }
  }

  &__local-amount {
    margin-right: 10px;
  }

  &__currency-selector {
    margin-left: 10px;
  }

  input {
    &.slds-input {
      color: color('text-1');
    }

    &.input_disabled {
      &_right-aligned:disabled {
        border-color: color('border-1');
        background-color: color('disabled-1');
        text-align: right;
      }
    }

    &.input {
      &_right-aligned {
        border-color: color('border-1');
        text-align: right;
      }
    }
  }

  .key {
    margin-bottom: 4px;
  }

  .slds-col {
    position: relative;
  }

  &__exchange-rate-field {
    height: 32px;
  }
}
