.mobile-app-pages-attendance-daily-request-details-late-arrival-request-page {
  &__item {
    margin-bottom: 16px;
  }

  &__date {
    width: 100%;
  }

  &__start-time {
    width: 164px;
  }

  &__end-time {
    width: 164px;
  }

  &__reason {
    width: 100%;
  }
}
