@import '../../../../../commons/styles/wsp.scss';

.admin-pc-credit-card-assign-employee-search-dialog {
  &__body {
    padding: 20px;
  }

  &__too-many-results {
    margin-top: 5px;
    color: color('error');
  }
}
