@import 'mobile-global-imports.scss';

.mobile-app-molecules-commons-alert {
  margin-top: 4px;

  &__container {
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 4px 4px 4px 4px;
  }

  &__contents {
    display: flex;
    margin-bottom: 8px;
    margin-left: 12px;
  }

  &__contents:last-child {
    margin-bottom: 0;
  }

  &__message {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 13px;
    &--attention, &--warning {
      width: calc(100% - 16px);
      overflow-wrap: break-word;
    }
  }

  &__container--warning {
    background-color: $color-alert;
  }

  &__container--attention {
    border: solid 1px $color-attention;
    background-color: #fff;
  }

  &__icon {
    min-width: 16px;
    min-height: 16px;
  }

  &__message--warning {
    color: #fff;
  }

  &__message--attention {
    color: #000;
  }
}
