@import '../variables.scss';

.ts-psa__resource-planner__view-selector {
  display: flex;
  position: relative;
  padding: 20px 20px 20px 15px;

  &__select-view-mode {
    margin-right: 15px;
  }

  &__calendar-icon path {
    fill: $color-btn-primary;
  }
  &__extra-btn {
    margin-right: 15px;
    display: flex;
    button {
      border-color: #dddbda;
      background-color: $color-bg-lighter;
      color: #0070d2;
      line-height: 1;
      text-decoration: none;
      min-height: 33px;
      min-width: 32px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 5px;
      &:disabled path {
        fill: $color-border-light-grey-2;
      }
    }
  }
  &__view-window,
  &__select-view-mode {
    display: flex;
    button {
      border-color: #dddbda;
      background-color: $color-bg-lighter;
      color: #0070d2;
      line-height: 1;
      text-decoration: none;
      min-height: 33px;
      min-width: 32px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 0;
      border-right-width: 0;

      &:disabled path {
        fill: $color-border-light-grey-2;
      }

      &:hover {
        background-color: $color-bg-hover;
      }

      &.is-active {
        background-color: $color-action-btn-primary-default;
        color: $color-bg-white;
      }

      &:first-child {
        border-radius: 5px 0 0 5px;
        border-right-width: 0;
      }

      &:last-child {
        border-radius: 0 5px 5px 0;
        border-left-width: 1px;
        border-right-width: 1px;
      }
    }
  }
  &__btn--calendar {
    width: 32px;
    border-radius: 0;
    button {
      &:disabled path {
        fill: $color-border-light-grey-2;
      }
    }
  }
  &__popper {
    z-index: 9999999;

    .react-datepicker {
      right: 165px;

      &__triangle {
        display: none;
      }
    }
  }
}

.ts-psa__resource-planner__view-selector__btn--calendar.ts-button.ts-button--default {
  border-radius: 0;
  border-right: 0;
}
