.ts-expenses__form-record-item-itemization-skeleton {
  background-color: #fff;
  padding: 30px;
  height: 100%;

  &__header {
    padding-top: 55px;
  }

  &__itemization {
    padding-top: 40px;
  }
}
