@import 'mobile-global-imports.scss';

.mobile-app-atoms-fix-daily-request-status-bar {
  width: 100%;
  height: 4px;

  &--approved {
    background-color: $color-green-600;
  }

  &--pending {
    background-color: $color-blue-600;
  }

  &--warning {
    background-color: #c23934;
  }

  &--none {
    display: none;
  }
}
