.admin-pc-leave-of-absence-period-status-detail-pane-history-list {
  margin-top: 20px;

  &__heading {
    margin-bottom: 5px;
    font-size: $font-size-large;
  }

  &__edit-button {
    padding: 0 16px;
  }
}
