@charset "UTF-8";
html, body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  background: #f3f4f5;
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS UI Gothic", Helvetica, Arial, sans-serif;
  color: #246498;
  box-sizing: border-box;
}

#ts1-area {
  padding: 0;
  background: #f3f4f5;
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS UI Gothic", Helvetica, Arial, sans-serif;
  color: #246498;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

header {
  color: #fff;
  font-size: large;
  background-color: #246498;
  padding: 4px;
}

a:focus {
  outline: none;
}

button:focus {
  outline: none;
}

.error-message {
  color: red;
  margin-left: 1em;
}

/*
textarea{
	width:95%;
	margin: 5px 3px;
	padding:2px 5px;
	rows:3;
	@include border-radius(7px);
	border: 1px solid rgba(0, 0, 0, .1);
}
*/
span {
  vertical-align: middle;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.right {
  text-align: right;
}

.item-name {
  color: #246498;
}

/*リスト親部分*/
.list {
  color: #246498;
  width: 100%;
  line-height: 50px;
  border-color: #c0c0c0;
  border-width: 0;
  border-style: solid;
  vertical-align: middle;
  /*リスト部分リンク「>」アイコン付き*/
}
.list .list-item, .list .list-item-noimage {
  border: inherit;
  border-width: 1px 0;
  padding-left: 0.5em;
  border-collapse: collapse;
  margin-top: -1px;
}
.list .list-item-link, .list .list-item-link-noimage {
  border: inherit;
  border-width: 1px 0 0;
  padding-left: 0.5em;
  background: url(../image/icon_right_arrow.png) no-repeat 97% center;
  background-size: 3% 50%;
  margin-top: -1px;
}

ul.grid {
  list-style: none;
  display: table;
  width: 100%;
  padding: 0;
  margin: 0;
}

li.grid {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 50%;
}

/*1行での左寄せ・右寄せ混在用 */
div.line-left {
  text-align: left;
  float: left;
}

div.line-right {
  text-align: right;
  margin-right: 5px;
}

.button, .file-button {
  color: #fff;
  background-color: #246498;
  height: 44px;
  display: table;
  vertical-align: middle;
  padding: 20px 0px 6px 0px;
  width: 95%;
  margin: 10px auto;
  padding: 8px;
  cursor: pointer;
  font-size: large;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  border: 0px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.small-button {
  color: #fff;
  background-color: #246498;
  height: 44px;
  display: block;
  padding: 6px 1em;
  margin: 10px auto;
  cursor: pointer;
  font-size: large;
  text-align: center;
  overflow: hidden;
  width: 80%;
  white-space: nowrap;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.regist-button {
  color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* 画面下部にボタンを並べる時用 */
.grid-button {
  padding: 0px;
  border: 0px;
  margin: 5px;
}

#receipt_image_area > img {
  height: auto;
  width: auto;
  max-width: 100%;
  z-index: 10;
}

/* ファイル選択部分無効化 */
#image_file {
  position: absolute;
  opacity: 0.01;
}

#file_field {
  overflow: hidden;
  position: relative;
}

.header-area {
  color: #fff;
  font-size: large;
  background-color: #246498;
  padding: 4px;
  width: 100%;
  height: 42px;
}

.contents-area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 42px;
}

.icon-receipt-header {
  margin: 5px 2px;
  height: 24px;
}

.icon-receipt {
  margin: 2px 5px 7px;
  height: 26px;
}

.file-button {
  margin-left: auto;
  margin-right: auto;
}

.button, .file-button {
  width: 90%;
}

#regist_button {
  outline: none;
}

/*リスト親部分*/
.list {
  color: #246498;
  width: 100%;
  line-height: 50px;
  border-color: #c0c0c0;
  border-width: 0;
  border-style: solid;
  vertical-align: middle;
  /*下２つは削除予定*/
  /*リスト部分リンク「>」アイコン付き*/
  /* TODO 削除？*/
}
.list .list-item, .list .list-item-noimage {
  border: inherit;
  border-width: 1px 0;
  padding-left: 2em;
}
.list .list-item-noimage {
  padding-left: 3em;
}
.list .list-item-link, .list .list-item-link-noimage {
  border: inherit;
  border-width: 1px 0;
  padding-left: 0.5em;
  background: url(../image/icon_right_arrow.png) no-repeat 97% center;
  background-size: 3% 50%;
  margin-top: -1px;
}
.list .list-item-link-noimage {
  padding-left: 3em;
}

.title-bar {
  border-color: #c0c0c0;
  border-width: 1px 0px;
  border-style: solid;
  border-collapse: collapse;
  color: #246498;
  background-color: #dae2ea;
  padding: 3px;
  padding-left: 1em;
  vertical-align: middle;
  font-weight: bold;
}

#loading-view {
  width: 100%;
  height: 100%;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000000;
  filter: alpha(opacity=5);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  background-image: url(../image/loading.gif);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/***** bootstrapタブ上書き *****/
/*
.nav-pills > li + li {
    margin-left: 0px;
}
.nav-pills > li > a {
    border-radius: 0px;
}
*/
/***** jQuery 上書き *****/
/*ダイアログのタイトルバーを非表示にする。*/
.ui-dialog-titlebar {
  display: none;
}

.ui-dialog {
  padding: 0;
}

.ui-dialog .ui-dialog-content {
  padding: 0;
}

.ui-corner-all {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

.ui-widget {
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS UI Gothic", Helvetica, Arial, sans-serif;
}
