@import './variables';

// HeadingRow, DailyRow に共通するスタイルの設定
// $thisは、import元で定義されたCOMPONENT_ROOTのクラス名

// カラムの共通設定
&__col {
  $table-min-width: 1024px;

  // TODO: 工数カラム復活時に有効化する
  //$fixed-width-total: 72px + 54px + 52px + 74px + 74px + 63px;
  //$remarks-col-width: 192px;
  $fixed-width-total: 72px + 54px + 52px + 74px + 74px;
  $remarks-col-width: 261px;

  $widths: (
    "status": 36px,
    "application": 54px,
    "date": 60px,
    "start-time": 74px,
    "end-time": 74px
  );

  &-fix-daily-request {
    width: 6px;
    min-width: 6px;

    &--table {
      left: 0;
    }
  }

  $offset: 6px;
  $sum: 0;
  @each $key, $width in $widths {
    &-#{$key} {
      width: $width;
      min-width: $width;

      $this: &;

      &#{$this}--table {
        left: $sum;
      }
      &#{$this}--table#{$this}--use-fix-daily-request {
        left: $offset + $sum;
      }
    }
    $sum: $sum + $width;
  }

  &-end-time--table {
    border-right: 1px solid #d8dde6;
  }

  &-daily-allowance {
    width: 73px;
    min-width: 73px;
  }

  &-commute-count {
    width: 120px;
    min-width: 120px;
  }

  &-time-tracking {
    width: 73px;
    min-width: 73px;
  }

  // TODO: 工数カラム復活時に有効化する
  //&-man-hours { width: 63px; }
  //
  //&-man-hours-graph {
  //  position: relative;
  //  transition: width 0.3s ease-out;
  //
  //  // 初期非表示
  //  width: 0;
  //
  //  > div {
  //    position: absolute;
  //    top: 50%;
  //    left: 0;
  //    width: 175px;
  //    overflow: hidden;
  //    white-space: nowrap;
  //    transform: translate(0, -50%);
  //  }
  //
  //  #{$this}#{$this}--man-hours-graph-opened & {
  //    width: 175px;
  //  }
  //}

  &-chart {
    position: relative;
    min-width: $table-min-width - $fixed-width-total - $remarks-col-width;
    max-width: $WIDTH_PX_OF_ONE_HOUR * (1 + (24 * 2) + 1);
    overflow-x: hidden;
    transition: min-width 0.3s ease-out;

    // TODO: 工数カラム復活時に有効化する
    //#{$this}#{$this}--man-hours-graph-opened & {
    //  min-width: $table-min-width - $fixed-width-total - $remarks-col-width -100px;
    //}
  }

  &-remarks {
    min-width: $remarks-col-width;
    padding-right: 5px;
    padding-left: 5px;
    transition: min-width 0.3s ease-out;

    // TODO: 工数カラム復活時に有効化する
    //#{$this}#{$this}--man-hours-graph-opened & {
    //  min-width: $remarks-col-width - 75px;
    //}
  }
}
