.admin-pc-working-type-fields-att-inputable-labeled-radio-fields {
  &__item-value.ts-text-field.slds-input {
    width: 5.5em;
  }

  &__input-in-text {
    display: inline;
    margin-left: 5px;
  }
}
