@import '../../../../commons/components/psa/variables.scss';

.ts-psa__file-upload {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: auto;
  background: $color-bg-grey;

  &__header {
    display: flex;
    position: fixed;
    top: 0;
    width: calc(100% - 250px);
    z-index: 10;
    align-items: center;
    justify-content: space-between;
    padding: $size-s;
    border: none;
    background-color: $color-bg-white;
    height: $header-height;
  }

  &__header-title {
    color: $color-text-dark-grey;
    line-height: 26px;
  }

  &__header-breadcrumb-link {
    cursor: pointer;
    color: $color-sidebar-link-text-active;
  }

  &__header-breadcrumb-separator {
    padding: 0 0.5rem 0 0.5rem;
  }

  &__header-project {
    display: block;
    position: relative;
    top: 2px;
    color: $color-text-dark-grey;
    font-size: $font-size-m;
    margin-left: $size-m;
  }

  &__content {
    padding: 42px;
  }

  &__message-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > svg {
      width: 86px;
      height: 86px;
    }
  }

  &__success-icon {
    path {
      fill: #04844b;
    }
  }

  &__message-header {
    font-weight: bold;
    font-size: $font-size-xl;
    margin: $size-l;
  }

  &__message-body {
    margin: $size-s;
    font-size: $font-size-default;
  }

  &__table-container {
    width: 80%;
    padding: 3rem 5rem;
  }

  &__table {
    border: 1px solid $color-border-light-grey;

    td {
      padding: 5px 0 5px 10px;
    }
    th {
      padding: 10px;
    }

    tr:first-child {
      border-bottom: 1px solid $color-border-light-grey;
    }
    td:first-child {
      padding: 5px;
      width: 50px;
      text-align: center;
      border-right: 1px solid $color-border-light-grey;
    }
    th:first-child {
      width: 50px;
      text-align: center;
      border-right: 1px solid $color-border-light-grey;
    }
  }

  &__table-header-row {
    background: $color-container;
  }

  &__table-body-row {
    background: $color-bg-light-grey;
    &-item {
      word-break: break-word;
    }
  }

  &_download-link-container {
    display: flex;
    justify-content: center;
    padding: $container-padding;
  }

  &_download-message {
    display: flex;
    justify-content: center;
    padding: $container-padding;
  }
}
