@import '../../../../styles/variables/colors';

.ts-expenses__form-message-area-column {
  &__record-date {
    padding: 0 12px 0 12px;
  }

  &__exptype-name {
    width: 30%;
    margin: 0 12px 0 12px;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  td {
    padding: 2px 10px;
    vertical-align: baseline;
  }
}
