.ts-expenses-edit-history-table {
  &__column-date {
    flex: 0 1 25%;
    margin-left: 10px;
  }

  &__column-user {
    flex: 0 1 15%;
  }

  &__column-target {
    flex: 0 1 25%;
    white-space: pre-wrap;
  }

  &__column-field {
    flex: 0 1 20%;
  }

  &__column-old-value,
  &__column-new-value {
    flex: 0 1 25%;
  }

  &__scrollable {
    max-height: 250px;
  }

  // cellに直接指定するのはコストが高いため、子孫セレクタを利用
  &--is-ellipsis &__cell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
