@charset "UTF-8";
.pb_base  {background-image:url(../image/p_button.png);background-repeat:no-repeat;background-color:transparent;border:0px;margin:0px;padding:0px;}
.pp_base  {background-image:url(../image/p_pics.png  );background-repeat:no-repeat;background-color:transparent;border:0px;margin:0px;padding:0px;}
