.timesheet-pc-main-content-owner-info {
  display: inline-block;

  strong {
    margin: 0 15px;
  }

  &__working-type-name {
    display: inline-block;
    margin-left: 40px;

    dl,
    dt,
    dd {
      display: inline-block;
    }
  }
}
