@import '../../../../../styles/exp/variables/colors';

.ts-expenses__form-record-item__actions {
  display: flex;
  align-items: center;
  vertical-align: middle;

  button {
    min-width: 80px;
    height: 32px;
    padding: 0 10px;
  }

  &__cancel {
    margin-right: 16px;
  }

  &__save {
    background-color: $color-bg-primary;
    color: $color-bg-lighter;

    &:hover {
      background-color: $color-bg-primary-dark;
    }
  }
}
