.mobile-app-pages-attendance-daily-request-details-overtime-work-request-page {
  &__item {
    margin-bottom: 16px;
  }

  &__date {
    width: 100%;
  }

  &__time-range {
    width: 100%;
  }

  &__remarks {
    width: 100%;
  }
}
