.mobile-app-pages-attendance-daily-request-details-pattern-request-page {
  &__item {
    margin-bottom: 16px;
  }

  &__patterns {
    width: 100%;
  }

  &__times {
    width: 100%;
  }

  &__remarks {
    width: 100%;
  }
}
